<h1>タスクログイン</h1>
    
    <%= form_with(url: login_path,scope: :session)do |f| %>
  <div class = "field">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email %>
  </div>
    
  <div class = "field">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password %>
  </div>
    
  <div>
        <%= f.submit 'Login' %>
  </div>
  
     <% end %>
    