<h1>新規登録</h1>
    <%= form_with(model: @user) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    
  <div class = "field">
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>

  <div class = "field">
    <%= f.label :email, 'Email' %>
    <%= f.email_field :email %>
  </div>

  <div class = "field">
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password %>
  </div>

  <div class = "field">
    <%= f.label :password_confirmation, 'Confirmation' %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit '登録' %>
  <% end %>