<h1><%= @user.name %>の詳細ページ</h1>
 
　<p>mail : <%= @user.email %></p>
　<p>登録日: <%= @user.created_at %></p>

<!--<%= link_to '一覧',users_path %>-->
    <%= link_to 'Tasklist',tasks_path %>
    <%= link_to 'Logout',logout_path , method: :delete %>
